<div class="main-div">
  <mat-card>
    <mat-card-title> Registro </mat-card-title>
    <br />
    <mat-card-content>
      <form [formGroup]="formReg">
        <div>
          <mat-form-field class="form">
            <mat-label>Nome de usuário</mat-label>
            <input type="text" matInput formControlName="user" />
            <mat-error *ngIf="formReg.get('user')?.hasError('required')">
              Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formReg.get('user')?.hasError('minlength')">
              Informe no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="formReg.get('user')?.hasError('maxlength')">
              Informe no máximo 60 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              formControlName="email"
              autocomplete="off"
            />
            <mat-error *ngIf="formReg.get('email')?.hasError('required')">
              Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formReg.get('email')?.hasError('minlength')">
              Informe no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="formReg.get('email')?.hasError('maxlength')">
              Informe no máximo 60 caracteres
            </mat-error>
            <mat-error *ngIf="formReg.get('email')?.hasError('email')">
              Email Inválido
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form">
            <mat-label>Senha</mat-label>
            <input
              type="password"
              matInput
              formControlName="password"
              autocomplete="off"
            />
            <mat-error *ngIf="formReg.get('password')?.hasError('required')">
              Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formReg.get('password')?.hasError('minlength')">
              Informe no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="formReg.get('password')?.hasError('maxlength')">
              Informe no máximo 60 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form">
            <mat-label>Telefone</mat-label>
            <input type="text" matInput formControlName="phone" />
            <mat-error *ngIf="formReg.get('phone')?.hasError('required')">
              Este campo é <strong>obrigatório</strong>
            </mat-error>
            <mat-error *ngIf="formReg.get('phone')?.hasError('minlength')">
              Informe no mínimo 2 caracteres
            </mat-error>
            <mat-error *ngIf="formReg.get('phone')?.hasError('maxlength')">
              Informe no máximo 60 caracteres
            </mat-error>
          </mat-form-field>
        </div>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          (click)="submit()"
        >
          Registrar <i class="fas fa-sign-in-alt"></i>
        </button>
        <p></p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
