<h2 mat-dialog-title>{{ title }}</h2>
<hr />
<mat-dialog-content>
  <form [formGroup]="gameForm" autocomplete="off">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input type="text" matInput formControlName="title" />
      <mat-error *ngIf="gameForm.get('title')?.hasError('required')">
        Este campo é <strong>obrigatório</strong>
      </mat-error>
      <mat-error *ngIf="gameForm.get('title')?.hasError('minlength')">
        Informe no mínimo 2 caracteres
      </mat-error>
      <mat-error *ngIf="gameForm.get('title')?.hasError('maxlength')">
        Informe no máximo 60 caracteres
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<hr />
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    type="button"
    [disabled]="!gameForm.valid"
    (click)="save()"
    mat-raised-button
    color="primary"
  >
    <i class="fa fa-save"></i> <span> Salvar</span>
  </button>
</mat-dialog-actions>
