<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <form [formGroup]="form">
        <div>
        <mat-form-field>
        <mat-label>Login</mat-label>
        <input type="email" matInput formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('required')">
          Este campo é <strong>obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('minlength')">
          Informe no mínimo 2 caracteres
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('maxlength')">
          Informe no máximo 60 caracteres
        </mat-error>
        <mat-error *ngIf="form.get('email')?.hasError('email')">
        Email Inválido
        </mat-error>
        </mat-form-field>
        </div>
        <div>
        <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" />
        <mat-error *ngIf="form.get('password')?.hasError('required')">
          Este campo é <strong>obrigatório</strong>
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('minlength')">
          Informe no mínimo 2 caracteres
        </mat-error>
        <mat-error *ngIf="form.get('password')?.hasError('maxlength')">
          Informe no máximo 60 caracteres
        </mat-error>
        </mat-form-field>
        </div>
            <button type="submit"
                    class="btn btn-primary" (click) = "submit()">Login <i class="fas fa-sign-in-alt"></i></button>
            <p></p>
            <div class="form-group form-check">
                <a [routerLink]="['/reset-password']">Esqueci a senha.</a>
            </div>
            <div class="form-group form-check">
                <a [routerLink]="['/register']">Novo por aqui? Crie uma conta.</a>
            </div>
            
        </form>
    </div>
</div>