.shopping-cart-title {
  font-size: 1.8rem;
  margin: 15px 0;
}

.card-shopping-cart-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-shopping-cart-game-info {
  display: flex;
  align-items: center;
}

.card-shopping-cart-actions {
  display: flex;
  justify-content: flex-end;
}
