<h2 class="shopping-cart-title">SEU CARRINHO DE COMPRAS</h2>
<mat-card>
  <mat-card-content class="card-shopping-cart-content">
    <div class="card-shopping-cart-game-info">
      <img
        src="https://store.cloudflare.steamstatic.com/public/shared/images/game_ratings/DEJUS/12.png"
        alt="Imagem do jogo"
      />
      <p class="ml-3">Jogo Xyz</p>
    </div>
    <div>
      <p>Valor: R$ 10,00</p>
    </div>
  </mat-card-content>
  <mat-card-actions class="card-shopping-cart-actions">
    <button
      mat-raised-button
      color="warn"
      (click)="removeItemFromShoppingCart(0)"
    >
      <mat-icon>delete</mat-icon> Remover
    </button>
  </mat-card-actions>
</mat-card>
