<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fab fa-itch-io"></i>ISTIM</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="isMenuCollapsed"
      class="collapse navbar-collapse position-relative"
      id="navbarSupportedContent"
    >
    <div class="pb-lg-0 flex-lg-row menu-items">
    
    <div>
          <ul class="navbar-nav w-100 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">
                Loja</a
              >
            </li>
            <li class="nav-item-dark navbar-expand navbar-dark bg-dark" ngbDropdown placement="bottom-right">
              <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
                Biblioteca
              </a>
              <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu-dark">
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Another action</a>
                <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Something else here</a>
              </div>
            </li>
              <li></li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="login"
                >Perfil</a
              >
            </li>
          </ul>
        </div>
        <div>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              [formControl]="search"
              placeholder="Pesquisar"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              (click)="searchChange.emit(search.value)"
            >
              Pesquisar
            </button>
          </form>
        </div>
        <div>
          <button
            *ngIf="!userIsLogged()"
            mat-button
            color="accent"
            routerLink="login"
          >
            <mat-icon>login</mat-icon> Iniciar Sessão
          </button>
          <button
            *ngIf="userIsLogged()"
            (click)="logout()"
            mat-button
            color="accent"
            routerLink="/"
          >
            <mat-icon>logout</mat-icon> Finalizar Sessão ({{ username }})
          </button>
        </div>

    
    
    
    </div>
    </div>    
  </div>
</nav>
