.btn-add-category {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0 5px 0;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
