.game-carousel {
  cursor: pointer;
  margin: 20px 0 20px 0;
}

.game-carousel-image {
  width: 82vw;
  height: 70vh;
  
}

.game-carousel-image-title {
  font-size: 3rem;
}

.game-image {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ageRange {
  width: 40%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 10%;
}

td img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
